@page
@model WebAppRegister.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-12 align-content-center">
        <form>
            <div class="card">
                <h5 class="card-title text-center mt-3">Register</h5>
                <p class="card-text text-center">Create your account. It free and only takes a minute</p>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" readonly class="form-control" id="FirstName" placeholder="FirstName">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" readonly class="form-control" id="LastName" placeholder="LastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input type="password" class="form-control" id="ConfirmPassword" placeholder="ConfirmPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>