@page
@model WebApplication.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="card">
    <h5 class="card-title">Register</h5>
    <p class="card-text">Create your account. It free and only takes a minute</p>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="FirstName" class="col-md-2 col-form-label">FirstName</label>
            <div class="col-md-4">
                
                <input type="text" readonly class="form-control-plaintext" id="FirstName" value="email@example.com">
            </div>
            <label for="LastName" class="col-md-2 col-form-label">LastName</label>
            <div class="col-md-4">
                <input type="text" readonly class="form-control-plaintext" id="LastName" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputConfirmPassword" class="col-md-2 col-form-label">ConfirmPassword</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="ConfirmPassword">
            </div>
        </div>
    </div>
</div>